.App {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-div * {
    margin-left: 10px;
    display: flex;
    list-style-type: unset;
    border: unset;
    color: white;
    text-decoration: unset;
}

.pages-div *:hover {
    text-decoration: underline;
}

.activePage {
    font-size: 20px;
    color: red;
}

.charactersDiv {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.pages-div-parent{
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charactersName {
    width: 300px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgb(58, 58, 58);
    margin-bottom: 10px;
    margin-top: -4px;
    text-align: center;
}

.charactersImg {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.loadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loadingDiv img {
    width: 300px;
    height: 300px;
}


.form input{
    border: unset;
    outline: unset;
    display: inline;
    border-bottom: 2px solid green;
}